:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgba(0,0,0, 0.8);
    --primary-color: #ea8025;
    --boder-color: #dbdbdb;
    --star-gold-color: #FFCE3E;

    --height-header: 60px;
    --nav-height: 32px;
    --header-with-search: calc(var(--header-height) - var(--nav-height));
    --header-sort-bar-height: 40px;

    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --secondary-font-color: #c59d5f;

}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white-color);
}

/*-----Animation-----*/

/* Animation */

@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width: 0;;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes spin {
    0% {
       transform: rotate(0);
    }
    100% {
        opacity: 1;
        transform: rotate(-360deg);
    }
}



@keyframes fadeDown {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1.1rem);
    }
}   
/* -----Btn---- */

.btn {
    min-width: 52px;
    height: 40px;
    border: 2px solid var(--black-color);
    font-size: 1.3rem;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 6px 15px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow: hidden;
    z-index: 1;
    transition: all .75s;
}
  
.btn:hover {
    color: var(--white-color);
    z-index: 2;
}
  
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 0;
    height: 100%;
    background-color: var(--black-color);
    color: var(--black-color);
    transform:  skewX(25deg);
    z-index: -1;
    transition: width .75s;
}

.btn:hover::before {
    width: 120%;
}



.btn-item-active {
    border-color: var(--primary-color);
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-right: 1.6rem;

}
  
.btn-item-active:hover {
    color: var(--primary-color);
    z-index: 2;
}
  
.btn-item-active::before {
    background-color: var(--white-color);
    color: var(--black-color);
}


.btn-item {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: var(--white-color);

}
  
.btn-item:hover {
    color: var(--white-color);
    z-index: 2;
}
  
.btn-item:before {
    background-color: var(--primary-color);
    color: var(--primary-color);
}


/* --btn-cta  */
.btn-cta {
    color: var(--black-color);
    background-color: var(--white-color);

}
  
.btn-cta:hover {
    color: var(--white-color);
    z-index: 2;
}
  
.btn-cta::before {
    background-color: var(--black-color);
    color: var(--white-color);
}
/* ---end btn-cta---- */


/* -----Modal layout */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: faceIn linear 0.1s;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
}

.modal-body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

.cavar-form-social {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.cavar-form-social a {
    text-decoration: none;
}

.connect-social {
    font-size: 1.6rem;
    border-radius: 2px;
}

.social-facebook,
.connect-social {
    background-color: #3A5A98;
    color: var(--white-color);
    overflow: hidden;
}

.btn-size-s {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 0 0 6px;
}

.social-google {
    background-color: var(--white-color);
    color: #666;
}

.social-title {
    margin: 0 28px;
}

/* Selection */

.select-input {
    background-color: var(--white-color);
    min-width: 214px;
    height: 34px;
    border-radius: 2px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;   
}

.select-input:hover .select-input__item {
    display: block;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(122, 122, 122, 0.3);
}

.select-input__item {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white-color);
    height: 88px;
    list-style: none;
    padding: 10px 14px;
    display: none;
    border-radius: 2px;
}