/* Header */

/* -------------------------- */
/* Header */
.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: var(--height-header);
    background-color: #24292E;
    align-items: center;
    z-index: 1000;
    top: 0;
    text-transform: uppercase;
    transition: all .5s;
    
}

.header__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__logo a {
    font-size: 2rem;
    letter-spacing: .5rem;
}

.header__search input{
    min-width: 215px;
    height: 28px;
    outline: none;
    border: solid 1px #444D56;
    border-radius: 3px;
    background-color: #24292E;
    color: #BAC9CA;
}

.header__search--text {
   text-align: center;
   padding: 7px;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav--select {
    margin-right: 24px;
}

.header__nav--list {
    display: flex;
}

.header__nav--link {
    padding-right: 20px;
    position: relative;
    transition: all .5s;
    font-size: 1.4rem;
    
}

.header__nav--link:hover {
    color: var(--primary-color);
}


.header__nav--link::before {
    display: none;
    content: '';
    width: 100%;
    height: 3px;
    border-bottom: 4px solid var(--primary-color);
    position: absolute;
    bottom: -23px;
    left: 0;
    z-index: 1;
}

.header__nav--link i:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: all .5s;
}

ul li:hover .header__nav--link::before {
    display: block;
}

.header__nav--sub-menu {
    position: absolute;
    top: 60px;
    background-color: var(--white-color);
}

.header__nav--sub-menu::after {
    width: 80px;
    background-color: transparent;
    height: 22px;
    position: absolute;
    top: -22px;
    left: 0;
    content: '';
}

.header__nav--sub-menu li a {
    display: none;
    color: var(--black-color);
    font-size: 1.4rem;
    padding: 12px 10px;
}

ul li:hover .header__nav--sub-menu li a {
    display: inline-block;
}


.header__nav--cart {
    position: relative;

}

.header__nav--cart a {
    position: relative;
}

.header__nav--cart-icon {
    color: var(--white-color);
    font-size: 2rem;
    transition: all .5s;
}

.header__nav--cart-icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.header__nav--cart:hover.header__nav--cart::before {
    display: block;
}

.header__nav--cart-wrap {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    cursor: pointer;
}

.header__nav--cart-no-item {
    position: absolute;
    display: none;
    content: '';
    background-color: var(--white-color);
    height: 160px;
    width: 250px;
    color: var(--black-color);
    top: 40px;
    right: 3px;
}

.header__nav--cart-wrap:hover .header__nav--cart-no-item {
    display: block;
    z-index: 1;
}

.header__nav--cart-no-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -27.5px;
    right: 0.2px;
    border-width: 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__nav--cart-no-item-img {
    width: 100%;
    padding: 2rem;
}

/* Hero  */

.hero {
    width: 100%;
    height: calc(100vh - var(--height-header));
    background-image: url(../img/bg-main.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: var(--height-header);
    color: #f4f4f4;
    z-index: 1;
}

.hero__main {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .4));
}

.hero__name {
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate( -90%, -30%);
    max-width: 700px;
    text-align: left;
    line-height: 1.5;
}

.hero__heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-weight: 800;
}

.hero__sub {
    display: inline-block;
    background-color: var(--black-color);   
    padding: .6rem 2.2rem;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero__partition {
    font-size:  1.6rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.first-letter {
    text-transform: uppercase;
    font-size: 10.3rem;
}


/* End Hero  */


/* ---------------------------
    ----End header------------
 */

/* Menu home */

.menu-home {
    padding: 95px 0 50px;
}

.heading {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    
}

.heading-menu {
    font-size: 3.6rem;
    color: var(--primary-color);
    position: relative;
}

.heading-menu::before {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 80%;
    background-color: black;
    top: 38px;
    left: 0;
}

.menu-item-info {
    margin: 14px 0 30px;
}

.row-item {
    padding: 0 30px;
}

.menu-img {
    max-width: 100%;
    height: auto;
}

.menu-item-name {
    color: var(--text-color);
    font-size: 1.4rem;
    transition: color linear 0.5s;
    margin-bottom: 40px;
    display: block;
}

.menu-item-name:hover {
    color: var(--primary-color);
}

.price-product-item {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 16px;
}

/* About section */


.about {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.85), rgba(0,0,0,0.75)), url(../img/bookcoffee.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: var(--height-header);
    color: #f4f4f4;
    z-index: 1;
}

.about__main {
    position: relative;
    width: 100%;
    height: 100%;
}

.about__name {
    position: relative;
    top: 50%;
    left: 35%;
    transform: translate( -50%, -50%);
    max-width: 700px;
    text-align: left;
    line-height: 1.5;
}

.about__heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-weight: 800;
}

.about__sub {
    display: inline-block;
    background-color: var(--black-color);   
    padding: .6rem 2.2rem;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.about__partition {
    font-size:  1.6rem;
    font-weight: 100;
    letter-spacing: 1px;
}

/* End about section  */

/* support section */


.support {
    position: relative;
    max-width: 1100px;
    height: 90vh;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--black-color);
    z-index: 1;
    margin: 0 auto;
    margin-top: 6.4rem;
}

.support__main {
    display: flex;
    align-items: center;
    justify-content: center;
}


.support__img {
    flex: 1;
}

.support__img img {
    border-radius: .5rem;
}

.support__name {
    line-height: 1.5;
    flex: 1;
    text-align: center;
}

.support__heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-weight: 800;
}

/* End support section  */

/* Footer  */


footer {
    margin-top: 5rem;
    padding: 7.9rem;
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    position: relative;
}   

.footer {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    text-align: left;
}

.footer__logo {
    font-size: 2.2rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
    position: relative;
}

.footer__logo::before {
    content: '';
    position: absolute;
    height: .1rem;
    width: 90%;
    background-color: #525252;
    bottom: -1.4rem;
    left: 0;
}

.footer__copyright {
    font-size: 1.4rem;
    letter-spacing: .2rem;
}

.footer__center {
    text-align: center;
}

.footer__label {
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-bottom: 1.2rem;
}

.footer__list--item-link {
    font-size: 1.3rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

.footer__right {
    text-align: right;
}

.footer__social {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.footer__social--link i {
    margin-right: .8rem;
    margin-bottom: .8rem;
}


.footer__list--item-link:hover ,
.footer__social--link:hover {
    color: var(--primary-color);
    transition: all .5s;
}

/* End footer  */